#topitems {
    display: inline;
    padding: 6px 2px;
    vertical-align: middle;

    margin: 8px;
    font-family: sans-serif;
    font-size: 13px;

    color: #353638;

}


#topsignin:hover{
    cursor: pointer;
}
#topitems:hover{
    cursor: pointer;
    text-decoration: underline;
}

#image{
    padding-top: 5px 10px;
    margin-top: 15px;
}

.topcontainer {
    text-align: right;
    margin-top: 10px;
}

.three{
    margin-top: 12px;
}

.logozone{
    margin-top: 145px;
    text-align: center;
}
.logozone2{
    margin-top: 15px;
    text-align: center;
    vertical-align: middle;
}
.logozone3{
    margin-top: 30px;
    text-align: center;
}

.logozone4{
    margin-top:30px;
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
}

.langlink{
    display: inline-block;
    color: blue;
}
.langlink:hover{
    cursor: pointer;
    text-decoration: underline;
    
}

.block1{
    margin-left: 30px;
    color: #5f6368;
}

.block2{
    display: inline;
    margin-left: 25px;
    padding: 5px 4px;
    color: #5f6368;

}
.block3{

    display:inline;
    margin-right: 25px;
    padding: 5px 4px;
    color: #5f6368;
    align-items: flex-end;

}



#box1{
    border: 1px solid lightgrey;
    border-radius: 30px ;
    width: 40%;
    height: 36px;
    outline: none;
    padding: 10px 40px;
    margin: 15px 0;
    
}

.aligners{
    vertical-align: middle;
}
#srch{
    position: relative;
    left:45px;
    
}
#micbox{
    position:relative;
    right:45px;
    
}


.buttonz{
    margin-top: -20px;
    background-color: #f2f2f2;
    border-radius: 5px;

    border-width: none;
    outline: none;
    color: #5f6368;
    padding: 11px 10px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin-left: 12px;

    text-decoration: none;
    border-style: none;

}

.buttonz:hover{
    color: black;
    
 
    border-color: red;
    border-radius: 2px;
    

}

#topsignin{
    background-color: #4285f4;
    border-radius: 3px;
    border: #4285f4 ;

    border-width: none;
    outline: none;
    padding: 8px 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    color: white;
    margin-left: 0px;
    text-decoration: none;
    border-style: none;

}

.block1{
    position: absolute;
    bottom: 90px;
    left: 0px;
}

.block2{
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-bottom: 10px;
    
}

.block3{
    position:absolute;
    bottom:0;
    right:0;
    margin-bottom: 10px;
    
}

#bottomitems1{
    display: inline;
    margin: 8px;
    font-family: sans-serif;
    font-size: 14px;

}

#bottomitems1:hover{
    cursor: pointer;
    text-decoration: underline;
}

#bottomitems2{
    display: inline;
    margin: 8px;
    font-family: sans-serif;
    font-size: 14px;

}

#bottomitems2:hover{
    cursor: pointer;
    text-decoration: underline;
}

.bottomaboveitem{
    position: absolute;
    left: 9px;
    bottom: 55px;
    font-family: sans-serif;
    font-size: 14px;
    color: #5f6368;
    margin-left: 30px;

}
